.total{
    border: 3px dashed grey;
    color: black;
    background: beige;
    text-decoration: underline;

}
.checkout-card{
    border: 2px dashed grey;
    color: black;
    background: rgb(192, 192, 185);
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: cadetblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}